Tools and library:

re 
pandas
numpy
spaCy
nltk
keras

Stanford GloVe pre-trained vectors: https://nlp.stanford.edu/projects/glove/
Common Crawl (42B tokens, 1.9M vocab, uncased, 300d vectors, 1.75 GB download): glove.42B.300d